.columns {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1em;

  .column {
    flex-grow: 1;
    flex-basis: 0;

    background-color: lighten($primary, 15%);
    border: 1px solid darken(#DDD, 20%);
    border-radius: 6px;
    max-width: 480px;

    transition: all .2s;

    &:hover {
      background-color: lighten($primary, 20%);
      transform: rotate(0.3deg) scale(1.03);
    }

    &__title {
      padding: .5em;
      font-size: large;
      color: white;
      background-color: $primary;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    &__buttons {
      min-width: 54px;
    }
  }
}
