@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "reset";

@import "variables";

body {
  font-family: 'Poppins', sans-serif;
  background: #EEEEEE;
}

@import "navigation";

@import "authentication";

@import "input";

@import "button";

@import "alert";

@import "export";

@import "main";

@import "columns";

@import "cards";

@import "model";
